# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# Python tool caches
.pytest_cache/
.cache/
.mypy_cache/

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Others
*.sqlite3 